<div class="cell"
  droppable
  [ngClass]="{'validMoveCell': isValidMove === true,
              'validAttackCell': isValidAttack === true }"
  (onDrop)="move($event, this)"
  [ngSwitch]="terrain">
  <!-- [dropEnabled]="isValidMove"> -->

  <img *ngSwitchCase="1" src="../../assets/images/boulder.png" alt="boulder" >
  <img *ngSwitchCase="2" src="../../assets/images/grass.png" alt="grass">

  <app-character *ngSwitchDefault (moving)="showValidMoves($event)" [character]="character"></app-character>
</div>
